<h3>Sign in</h3>

<form action="/login" method="POST">

    <label for="email"><b>Email Id</b></label>
    <input type="email" name="email" placeholder="Enter Email">

    <label for="password"><b>Password</b></label>
    <input type="password" name="password" placeholder="Enter Password">

    <input type="submit" value="Login" class="btn">

</form>