<h3>Register</h3>

<p>Already have an Account? <a href="/login">Login</a></p>

<form action="/register" method="POST">

    <label for="email"><b>Email Id</b></label>
    <input type="email" name="email" placeholder="Enter Email">

    <label for="password"><b>Password</b></label>
    <input type="password" name="password" placeholder="Enter Password">

    <input type="submit" value="register" class="btn">

</form>